<h1>Welcome#personal</h1>
<p>Find me in app/views/welcome/personal.html.erb</p>


<h2>Favorite books</h2>
<p>Knight in the armour - Robert Fischer</p>
<p>A Boa Sorte</p>
<p>4 hours work week</p>
<p>How to stop worrying and start living</p>
<p>Sapiens</p>
<p>Scott Pilgrim</p>
<p>Metro 2033</p>
<p>Le Petit Prince</p>
<p></p>
<p></p>

<h2>Favourite games</h2>
<p>Super Mario Galaxy</p>
<p>Okami</p>
<p>Resident Evil 4</p>
<p>Ico</p>
<p>SOMA</p>
<p>Metro Last Light</p>
<p></p>
<p></p>
<p></p>
<p></p>
